.fit-cover {
  object-fit: cover;
}

.col {
  background-color: #fff;
  margin: 5px;
  width: 32%;
  min-width: 300px;
  border-radius: 10px;
  text-align: center;
}

.card {
  border: 7px solid;
  border-radius: 10px;
}

.features {
  min-width: 260px;
  width: 22%;
  max-width: 400px;
}

.features h4 {
  font-weight: 600;
}

#custom-confirm .col {
  background: none;
}

